@media (max-width: 461px) {

  .header {
		max-width: 461px;
	}

  .nav:before {
		opacity: 0;
	}

  .item_zero {
    margin-left: 26px;
  }

  .link {
    font-size: 30px;
    line-height: 37px;
    color: #000;
  }

 .link__two {
    display: none;
  }

	.s1 {
		max-width: 461px;
    height: 808px;
		background-image: url(pete-bellis-432867-unsplash.jpg);
		background-size: cover;
		background-position: center;
			}
	.s1:before {
		opacity: 0;
	}

  .cont {
		max-width: 461px;
    flex-direction: column;
	}

	.s1_content {
    margin-left: 26px;
	}
	.s1_icon_image {
		display: none;
	}

	.s1_icon_soc {
		display: none;
	}

  .s1_icon_scroll {
    display: none;
  }

  .s1_h1 {
    font-size: 10px;
  }

  .cursor_scroll {
    display: block;
    position: absolute;
    width: 28px;
    height: 14px;
  }

  .s1_p1 {
    display: none;
  }

  .s1_button {
    display: none;
  }

  .s1_dop {
    display: none;
  }

  .icon__two {
    display: none;
  }

	.icon__one {
		display: none;
	}
	.s1_image {
		display: none;
	}
}


body {
	display: flex;
  flex-direction: column;
	margin: auto;
	padding: 0;
	font-family: 'Montserrat';
}

a {
	text-decoration: none;
}

/* start header */

.header {
  display: flex;
  justify-content: space-between;
	max-width: 1349px;
  margin: auto;
}


.nav:before {
	position: absolute;
	display: flex;
	content: '';
	width: 461px;
	height: 92px;
	background: #000;
}

.nav {
	width: 1349px;
	display: flex;
	align-items: center;
  flex-direction: row;
  justify-content: space-between;
	list-style: none;
}

 .menu {
	position: relative;
	display: flex;
  justify-content: center;
	width: 92px;
	height: 92px;
	background: whitesmoke;
	margin: auto;
}

.menu span {
	position: absolute;
	width: 35px;
	height: 4px;
  top: 39px;
	background: #000;
}

.menu span:before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 35px;
	height: 4px;
	background: #000;
	top: 10px;
}

.link {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.07em;
  color: #fff;
}

.cursor_scroll {
  display: none;
}

.link__two {
  position: absolute;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #fff;
}

.item_zero {
  height: 35px;
	margin-left: 40px;
	flex-basis: 360px;
}

.item {
  flex-basis: 64%;
}


/* start 1 section */

.icon__one {
  position: relative;
  left: 32px;
  top: 0px;
	width: 11px;
  height: 5px;
}

.icon__two {
width: 43px;
height: 10px;
color: #000;
cursor: pointer;
}

.picture {
  width: 550px;
  height: 562px;
}

.s1_image {
  margin-top: 50px;
	margin-left: 180px;
}

.s1 {
	margin: auto;
	height: 808px;
	max-width: 1350px;
}

.s1:before {
	position: absolute;
	display: block;
	content:'';
	width: 461px;
	height: 820px;
	background: #000;
}

.cont {
	position: relative;
	max-width: 1350px;
  height: 100%;
	display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}

.s1_content {
	margin-left: 50px;
}

.s1_h1 {
	font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 82px;
	margin: 0;
  color: #000
}

.s1_p1 {
	font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
	margin-bottom: 40px;
}

.s1_button {
  width: 203px;
  height: 44px;
	text-transform: uppercase;
	border: 1.5px solid #000000;
  box-sizing: border-box;
	background: #fff;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 0px;
margin-right: 54px;
cursor: pointer;
}

.s1_dop {
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 0px;
margin-right: 19px;
}


.s1_icon_soc {
  max-width: 1350px;
	height: auto;
	letter-spacing: 5px;
	display: flex;
  margin-top: 50px;
}

.s1_icon_image {
	max-width: 1350px;
  padding-left: 50px;
}

.s1_icon_scroll {
	position: relative;
  margin-left: 500px;
}

.icon_scroll {
	width: 27px;
	height: 46px;
}

.icon_inst {
	position: relative;
   width: 43px;
	 height: 43px;
	 background: #FFF;
	 border-radius: 50%
}

.icon_vk {
	position: relative;
   width: 43px;
	 height: 43px;
	 background: #FFF;
	 border-radius: 50%
}

.icon_fb {
	position: relative;
   width: 43px;
	 height: 43px;
	 background: #FFF;
	 border-radius: 50%
}


/* end 1 section */
/* end header */

/* start 2 section */


/* end section 2 */

/* start section 3 */

/* end section 3 */
