body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}

a {
	text-decoration: none;
	color: #fff;
}

/* start header */

.header {
	position: relative;
	width: 1349px;
	margin: 0;
	height: 92px;
}

.header:before {
	position: absolute;
	display: inline-block;
	content: '';
	width: 461px;
	height: 92px;
	margin: 0;
	background: #000;
}

.nav {
	display: flex;
	justify-content: flex-end;
}

 .menu {
	position: relative;
	display: flex;
	width: 92px;
	height: 92px;
	background: whitesmoke;
	justify-content: center;
}

.menu span {
	position: absolute;
	display: inline-block;
	width: 35px;
	height: 4px;
  top: 39px;
	background: #000;
}

.menu span:before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 35px;
	height: 4px;
	background: #000;
	top: 10px;
}

.link {
	position: absolute;
width: 98px;
height: 37px;
left: 52px;
top: 36px;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
text-align: center;
letter-spacing: 0.07em;
}

.link__two {
	position: absolute;
	left: 388px;
top: 42px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}

/* header end */

/* start 1 section */
.icon__one {
	position: absolute;
	width: 11px;
  height: 5.5px;
  left: 423px;
  top: 54px;
}

.icon__two {
	position: absolute;
width: 43px;
height: 10px;
left: 1220px;
top: 573px;
color: #000;
}

.icon__three {

position: absolute;
width: 27px;
height: 46px;
left: 710px;
top: 720px;
box-sizing: border-box;
}

.icon__three-add {
	position: absolute;
	width: 2.45px;
  height: 8.21px;
  left: 722.5px;
  top: 730px;
}

.icon__FB {
	position: absolute;
width: 42.98px;
height: 43px;
left: 162.02px;
top: 720px;
border-radius: 50%;

background: #FFFFFF;
}

.icon__VK {
	position: absolute;
width: 42.98px;
height: 43px;
left: 107.01px;
top: 720px;
	border-radius: 50%;
}

.icon__INST {
	position: absolute;
width: 42.98px;
height: 43px;
left: 52px;
top: 720px;
border-radius: 50%;
}

.picture {
	position: absolute;
  width: 550px;
  height: 550px;
  left: 190px;
  top: 100px;
}

.block__one {
	position: relative;
	display: inline-block;
}

.block__one:before {
	position:absolute;
	display: inline-block;
	content:'';
	width:461px;
	height: 808px;
	background: #000;
}

.title__main {
	position: absolute;
  left: 789px;
  top: 171px;
	font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 82px;
  color: #000
}

.desc__one {
	position: relative;
  left: 789px;
  top: 383px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
}

.button__one {
	position: absolute;
  width: 203px;
  height: 44px;
  left: 790px;
  top: 555px;
	text-transform: uppercase;
	border: 1.5px solid #000000;
  box-sizing: border-box;
	background: #fff;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 0px;
}

.add {
position: absolute;
width: 172px;
height: 0px;
left: 1043px;
top: 578px;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 0px;
}

/* end 1 section

/* start 2 section */


/* end section 2 */

/* start section 3 */

/* end section 3 */
